@mixin transition($el, $time, $animation){
    -webkit-transition: $el $time $animation;
    -moz-transition: $el $time $animation;
    -ms-transition: $el $time $animation;
    -o-transition: $el $time $animation;
    transition: $el $time $animation;
}