body {
	line-height: 1.7;
	color: #000;
	font-weight: 300;
	font-size: $font-size-base;
	font-family: $font-family-sans-serif;

	background-attachment: fixed;
	background-size: cover;
	background-position: bottom center;

	background-blend-mode: overlay;
	background-repeat: no-repeat;
}

::-moz-selection { 
	background: $black;
	color: $white;
}
::selection { 
	background: $black;
	color: $white;
}
a {
	transition: .3s all ease;
	&:hover {
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	font-family: $font-family-sans-serif;
}

.border-2 {
	border-width: 2px;
}


.text-black {
	color: $black!important;
}
.bg-black {
	background: $black!important;
}

.color-black-opacity-5 {
	color: rgba($black, .5);
}
.color-white-opacity-5 {
	color: rgba($white, .5);
}

.site-wrap {
	&:before {
		transition: .3s all ease-in-out;
		background: rgba(0,0,0,.6);
		content: "";
		position: absolute;
		z-index: 2000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		visibility: hidden;
	}
	.offcanvas-menu & {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: 2;
		overflow: hidden;
		
		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.btn {
	text-transform: uppercase;
	letter-spacing: .2em;
	border-radius: 0;
	&:hover, &:active, &:focus {
		outline: none;
		box-shadow: none!important;
	}
	
}

.line-height-1 {
	line-height: 1!important;
}
.bg-black {
	background: $black;
}
.form-control {
	height: 43px;
	border-radius: 0;
	&:active, &:focus {
		border-color: $primary;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
	}
}

.site-section {
	padding: 2.5em 0;
	@include media-breakpoint-up(md) {
		padding: 10em 0;
	}

	&.site-section-sm {
		padding: 4em 0;
	}
}

.site-section-heading {
	
	h2 {
		position: relative;
		font-size: 2.5rem;
		color: $white;
		padding-bottom: 30px;
		@include media-breakpoint-up(md) {
			font-size: 3rem;
		}
		&:after {
			content: "";
			left: 0%;
			bottom: 0;
			position: absolute;
			width: 100px;
			height: 2px;
			background: linear-gradient(to right, #c70039, #ff5733 70%);
			@include media-breakpoint-up(lg) {
				left: -20%;
			}
		}
		&.text-center {
			&:after {
				content: "";
				transform: translateX(-50%);
				content: "";
				left: 50%;
				bottom: 0;
				position: absolute;
				width: 100px;
				height: 2px;
			}	
		}
	}
}

.border-top {
	border-top: 1px solid $gray-4!important;
}

.site-navbar {
	top: 0;
}

.site-mobile-menu {
	top: 0;
}

.site-footer {
	padding: 4em 0;
	background: #1b1d24;
	@include media-breakpoint-up(md) {
		padding: 8em 0;	
	}
	.border-top {
		border-top: 1px solid rgba(255,255,255,.1)!important;
	}
	h2,h3,h4,h5 {
		color: $white;
	}
	a {
		color: $white;
		&:hover {
			color: $primary;
		}
	}
	ul {
		li {
			margin-bottom: 10px;
		}
	}
	.footer-heading {
		font-size: 16px;
		color: darken(#cfcfd1, 30%)!important;
	}
}

.bg-text-line {
  display: inline;
  background: $black;
  box-shadow: 20px 0 0 $black, -20px 0 0 $black;
}

.text-white-opacity-05 {
	color: rgba($white, .5);
}
.text-black-opacity-05 {
	color: rgba($black, .5);
}

.hover-bg-enlarge {
	overflow: hidden;
	position: relative;
	@include media-breakpoint-down(md) {
		height: auto!important;
	}
	> div {
		transform: scale(1.0);
		transition: .8s all ease-in-out;
	}
	&:hover, &:focus, &:active {
		> div {
			transform: scale(1.2);
		}
	}

	.bg-image-md-height {
		@include media-breakpoint-down(md) {
			height: 300px!important;
		}
	}

}



.bg-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.overlay {
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 0;
			width: 100%;
			background: rgba(0,0,0,.7);
		}
	}
	> .container {
		position: relative;
		z-index: 1;
	}
}

.img-md-fluid {
	@include media-breakpoint-down(md) {
		max-width: 100%;
	}
}

.display-1, .display-3 {
	@include media-breakpoint-down(md) {
		font-size: 3rem;
	}
}

.play-single-big {
	width: 90px;
	height: 90px;
	display: inline-block;
	border: 2px solid $white;
	color: $white!important;
	border-radius: 50%;
	position: relative;
	transition: .3s all ease-in-out;
	> span {
		font-size: 50px;	
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
	}
	&:hover {
		width: 120px;
		height: 120px;
	}
}

.overlap-to-top {
	margin-top: -150px;
}

.ul-check {
	margin-bottom: 50px;
	li {
		position: relative;
		padding-left: 35px;
		margin-bottom: 15px;
		line-height: 1.5;
		&:before {
			left: 0;
			font-size: 20px;
			top: -.3rem;
			font-family: "icomoon";
			content: "\e5ca";
			position: absolute;
		}
	}
	&.white {
		li {
			&:before {
				color: $white;
			}
		}
	}
	&.success {
		li {
			&:before {
				color: $success;
			}
		}
	}
	&.primary {
		li {
			&:before {
				color: $primary;
			}
		}
	}
}

.program {
	h2 {
		font-size: 1.5rem;
	}
	.border-top {
		border-top: 1px solid lighten(#232531, 10%)!important;
	}
	.border-bottom {
		border-bottom: 1px solid lighten(#232531, 10%)!important;
	}
}

.blog-entry {
	h2 {
		font-size: 20px;
		a {
			color: $white;
		}
	}
	.post-meta {
		font-size: 14px;
		a {
			color: $primary;
		}
		img {
			width: 36px;
			border-radius: 50%;
		}
	}
}

.ant-form-item-label {
	line-height: normal;

	&.checkbox-label {
		margin: 5px 10px 0 10px;
	}

	label {
		color: #cfcfd1;
	}
}

.ant-table-tbody {
	background-color: #fdfdf1;
}

.ant-message {
	.anticon {
		top: 0;
		vertical-align: 0;
	}
}

.contentWrapper {
	min-height: 100vh;
	padding: 60px 20px;
}

.company-logo {
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 16px;
	background-color: #1790ff;

	svg {
		width: 120px;
		height: 120px;
		fill: #fff;
	}
}

.flightsSub {
	.ant-table-body > table {
		border: none;

		.ant-table-thead > tr:first-child > th:last-child,
		.ant-table-tbody > tr > td:last-child {
			border-right: none;
		}
	}
}

@media (max-width: 767px){
	.site-hero.inner, .site-hero.inner .row {
		min-height: 300px !important;
		height: calc(50vh - 120px) !important;
		margin-bottom: 5rem;
		margin-top: 3rem;
	}

	.ant-form-item-label {
		display: inline;
	}
}