@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Base */
@import "site-base";
/* Navbar */
@import "site-navbar";
/* Blocks */
@import "site-blocks";


/* Customization */
.separator {
    height: 20px;
}

.overlined {
    text-decoration: line-through;
}
